extends ../layouts/index

block content
  ol.breadcrumb
    li
      a(href='/series') Series List
    li.active= series.title
  
  h2= series.title
  div.series-list
    table.table
      tr
        th Language
        th Level
        th Title
      each langserie in series.languageSeries
        tr
          td= langserie.fkLanguage
          td= langserie.fkLevel
          td= langserie.title