extends ../layouts/index

block content
  ol.breadcrumb
    li
      a(href='/db') Series List
    li.active= series.title
  
  h2= series.title
  div.series-list
    table.table
      tr
        th Language
        th Level
        th Title
      each languageSery in series.languageSeries
        tr
          td= languageSery.fkLanguage
          td= languageSery.fkLevel
          td
            a(href='/languageSeries/#{languageSery.id}')= languageSery.title