extends ../layouts/index

block content
  ol.breadcrumb
    li
      a(href='/db') Series List
    li
      a(href='/series/#{lesson.languageSery.series.id}')= lesson.languageSery.series.title
    li
      a(href='/languageSeries/#{lesson.languageSery.id}')= lesson.languageSery.title
    li.active= lesson.title
  
  h2= lesson.title
  div.script
  table.table
    tr
      th Section
      th Shot
      th Script
      th Script English
    each shot in lesson.shots
      tr
        td= shot.section
        td= shot.shot
        td= shot.script
        td= shot.scriptEnglish